<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h4 style="text-align: center;">Cuidados Básicos Necessários</h4>
  <h6 style="text-align: center; margin-left: 400px; color: green;">para manter seu pet saudável!</h6>
  <div style="margin-top: 70px;">
    <h5>Vermifugação</h5>
    <p>Aplicar aos 15, 30, 45 e 60 dias de vida!</p>
    <p>Passando para uma dose mensal, até atingir a idade adulta, mudando para um período de 4 em 4 meses.</p>
  </div>

  <div style="margin-top: 70px; margin-left: 50%;">
    <h5>Vacinação</h5>
    <h6>Cães:</h6>
    <p>Vacina v8 ou v10 aos 60, 90 e 120 dias de vida! Após esse perpiodo é necessário apenas manter o reforço anual.</p>
    <h6>Gatos:</h6>
    <p>Vacina v4 ou v5 aos 60 e 90 diasde vida! Após esse período é necessário reforço anual. </p>
    <h6>Vacina Antirrábica: Aplicar aos 120 dias de vida, após esse período, manter dose anual.(Tanto para cães quanto para gatos.)</h6>
  </div>

  <div style="margin-top: 70px;">
    <h5>Castração</h5>
    <p>A partir dos 6 meses de idade.</p>
  </div>


  <h5 style="text-align: center; margin-top: 100px;">Check-Up geral UMA vez ao ano.</h5>
</body>
</html>
